@font-face {
    font-family: sakuraFont;
    src: url(GlacialIndifference-Regular.otf);
}

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 100%;
	font-family: sakuraFont, Arial, Helvetica, sans-serif;
}

body {
	background-image: url(tileable_wood_texture_@2X.png);
	background-size: 10%;
}

#fixed-info {
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 0.9em;
	color: white;
	background-color: #333333;
	margin-bottom: 1em;
}

#fixed-info p {
	text-align: center;
}

#fixed-info #city {
	padding-right: 0.5em;
}

#fixed-info #tel {
	padding-left: 0.5em;
}

@media screen and (min-width: 1024px) {
    /* For desktop: */
	* {
		max-width: 1000px;
		margin: auto;
	}
	#fixed-info {
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		font-size: 1.3em;
		color: white;
		background-color: #333333;
		margin-bottom: 1em;
	}
}