@font-face {
    font-family: sakuraFont;
    src: url(fonts/GlacialIndifference-Regular.otf);
}

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 100%;
	font-family: sakuraFont, Arial, Helvetica, sans-serif;
}

body {
	background-image: url(../images/tileable_wood_texture_@2X.png);
	background-size: 10%;
	background-position: center;
	background-repeat: repeat;
}

a {
	color: #FF9999;
	text-decoration: none;
	font-weight: bold;
}

li {
	list-style-type: none;
}

#fixed-info {
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 0.9em;
	color: #FFF6F6;
	background-color: #333333;
	margin-bottom: 1em;
}

#fixed-info p {
	text-align: center;
}

#fixed-info #city {
	padding-right: 0.5em;
}

#fixed-info .tel {
	padding-left: 0.5em;
}

#logo {
	float: left;
	background-image: url(../images/sakura.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 22em;
	width: 80%;
	text-indent: -999em;
	background-size: 95%;
}

#nav-button {
	width: 20%;
	height: 9.5em;
	margin-left: 80%;
	padding-top: 12.5em;
	cursor: pointer; 
}

#nav-button a{
	color: #333333;
	font-size: 6em;
	padding-left: 0.5em;
	font-weight: 200;

}

#nav-button a:active{
	color: #FF9999;
}

.hidden {
	position:absolute; 
	left:-10000px; 
	top:auto; 
	width:1px; 
	height:1px; 
	overflow:hidden;
}

.aiuti{ 
	position:absolute; 
	height:0; 
	overflow:hidden; 
}

#fast-search ul {
	text-align: center;
}

#fast-search li {
	margin-bottom: 0.5em;
}

p.end-list {
	margin-top: 2em;
}

#nav-menu li {
	font-size: 3em;
	text-align: center;
	margin-bottom: 0.5em;
	font-style: italic;
}

#nav-menu li a {
		color: #333333;
		font-weight: bolder;
		font-style: normal;
	}

#content {
	font-size: 1.3em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	color: #333333;
	font-weight: 400;
	background: #FFF6F6;

}

div #path {
	background: #333333;
	color: white;
	font-size: 4em;
	padding-top: 0.1em;
	padding-bottom: 0.1em; 
	padding-left: 0.5em;
}

.panel {
	padding: 1em 1.2em 0em 1.2em;
	border-width: 10px;
	border-color: #333333;
	margin-bottom: 3em;
	color: #333333;
}

img {
	width: 100%;
	margin: 1em 0em 3em 0em;
}

.panel h3 {
	text-align: center;
	margin-bottom: 0.3em;
	font-size: 4em;
	padding-bottom: 0.1em;
	border-bottom: solid;
	border-width: 13px;
}

.panel div {
	margin-bottom: 0em;
}

.panel h4 {
	text-align: center;
	margin-bottom: 0.2em;
	font-size: 2.5em;
}

.list-title h4 {
	display: inline;
	margin-bottom: 0.3em;
}

.list-title form{
	width: 8%;
	margin: 0em;
	margin-right: 1em; 
	float: right;
	height: 0px;
}

div.list-title {
	text-align: center;
	background: #FFF6F6;
}

input[name='aggiungi'] {
	display: inline;
	font-size: 0.7em;
}

dl {
	border-top: solid;
	border-width: 8px;
	margin-top: 1em;
	margin-bottom: 2em;
}

dt {
	margin-left: 0.5em;
	margin-top: 1.3em;
}

#mod-piatto, #del-piatto, #del-bevanda, #mod-bevanda{
	display: inline;
}

input[name='mod'].pulsante, input[name='del'].pulsante {
	display: inline;
	font-size: 0.7em;
	padding: 0.01em 0.3em;
	margin-right: 0.5em;
}

dd {
	text-align: left;
	margin-top: 0.3em;
	margin-left: 4em;
}

.panel p {
	margin-bottom: 1.5em;
	text-align: center;
	font-size: 1em;
}

.panel p.h {
	margin-bottom: 0.2em;
}

div.thumb {
	height: 20em;
	width: 20em;
	margin: auto;
	margin-bottom: 3em;
	margin-top: 2em;
}

#ebicego {
	background: url(../images/eduard_who_rounded.png);
	background-size: 20em;
	background-repeat: no-repeat;
}

#dcastello {
	background: url(../images/davide_who_rounded.png);
	background-size: 20em;
	background-repeat: no-repeat;
}

#atombola {
	background: url(../images/andrea_who_rounded.png);
	background-size: 20em;
	background-repeat: no-repeat;
}

#footer {
	background: #333333;
	font-size: 0.8em;
	color: white;
	padding: 2em;
	text-align: center;
}

#footer #admin {
	display: none;
}

#access-denied {
	background: url(../images/denied.png);
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: center;
	height: 10em;
}

div.form #login {
   	width: 35%;
   	border-bottom: solid;
   	border-top: solid;
    border-width: 5px;
    padding-top: 1em;
}

div.form h3{
    text-align: center;
    font-size: 2em;
    padding-bottom: 0.1em;
    margin-top: 0.5em;
}

label, input {
	display: block;
}

input {
	/*margin-top: 0.2em;*/
	margin-bottom: 1em;
	border-bottom: solid;
	border-width: 2px;
	border-color: #333333;
	background: #FFF6F6;
	font-size: 0.9em;
	padding: 0.2em;
}

input[name='username'], input[name='password'] {
	margin-top: 0.2em;
	border: hidden;
	border-bottom: solid;
	border-width: 2px;
	background: #FFF6F6;
}

#login fieldset {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#submit {
    width: 50%;
	color: #FFF6F6;
	background: #333333;
	padding: 0.2em 0.9em;
	border-color: #333333;
	border-style: solid;
	border-width: 2px;
	margin-top: 1.5em;
    margin-bottom: 1em;
}

#submit:hover {
	color: #FF9999;
	border-color: #FF9999;
}

.pulsante {
	color: #FFF6F6;
	background: #333333;
	padding: 0.2em 0.6em;
	border-color: #333333;
	border-style: solid;
	border-width: 2px;
	font-size: 0.6em;
}

.pulsante:hover {
	color: #ff9999;
	border-color: #ff9999;
	cursor: pointer;
}

input.pulsante {
    margin-right: 1em;
}

div.form #add-piatto-in, div.form #mod-piatto-in, div.form #add-bevanda-in, div.form #mod-bevanda-in {
   	width: 80%;
   	border-bottom: solid;
   	border-top: solid;
    border-width: 5px;
    padding-top: 1em;
    margin-top: 0.5em;
}

#add-piatto-in fieldset, #mod-piatto-in fieldset, #add-bevanda-in fieldset, #mod-bevanda-in fieldset {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

fieldset input[name='mod'], fieldset input[name='del']{
	width: 10%;
}

fieldset input[name='add'] {
	width: 100%;
}

#add-piatto-in label, #mod-piatto-in label, #add-bevanda-in label, #mod-bevanda-in label {
	margin-bottom: 0.2em;
}

fieldset input, fieldset textarea {
	border: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	background: white;
	width: 80%;
}

#add-piatto-in #submit, #mod-piatto-in #submit, #add-bevanda-in #submit, #mod-bevanda-in #submit{
	width: 25%;
}

p.info {
	margin-bottom: 0.7em;
	text-align: center;
	font-size: 1em;
}

/*SOLO DESKTOP >= 1024 */
@media screen and (min-width: 1000px) {
	* {
		max-width: 1024px;
		margin: auto;
	}

	a:hover {
		text-decoration: underline;
	}

	#fixed-info {
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		font-size: 1.3em;
		color: white;
		background-color: #333333;
		margin-bottom: 1em;
	}

    #logo {
		float: left;
		margin-left: 1em;
		background-position: center;
		height: 140px;
		width: 30%;
		text-indent: -999em;
		background-size: 100%;
	}

	#nav-button {
		display: none;
	}

	#path {
		margin-top: 0.2em;
	}

	div #path {
		font-size: 2.2em;
		padding-top: 0.1em;
		padding-bottom: 0.1em; 
		padding-left: 0.7em;
	}

	#nav-menu, #private-navmenu {
		padding-top: 7em;

	}

	#nav-menu li, #private-navmenu li {
		display: inline;
		font-size: 2em;
		margin-left: 0.5em;
		text-align: left;
		color: #333333;
	}

	#private-navmenu li {
		text-align: center;
		margin-bottom: 0.5em;
		font-style: italic;
	}

	#private-navmenu li a {
		color: #333333;
		font-weight: bolder;
		font-style: normal;
	}


	#nav-menu li a:hover, #private-navmenu li a:hover{
		text-decoration: underline;
	}

	.panel {
		padding: 0em 1.2em 0em 1.2em;
		border-width: 10px;
		border-color: #333333;
		margin-bottom: 1em;
		color: #333333;
	}

	#orari {
		width: 35%;
		margin: auto;
	}

	#orari h3 {
		text-align: center;
	}

	#orari p {
		text-align: center;
	}

	img {
		width: 45%;
		padding-left: 25%;
	}

	.panel h3 {
		text-align: left;
		margin-bottom: 0.3em;
		font-size: 2em;
		padding-bottom: 0.1em;
		border-bottom: solid;
		border-width: 4px;
	}

	.panel div {
		margin-bottom: 0em;
	}

	.panel h4 {
		text-align: left;
		margin-top: 0.3em;
		margin-bottom: 0.2em;
		font-size: 1.3em;
	}

	#fast-search ul {
		text-align: left;
	}

	#fast-search li {
		margin-bottom: 0.5em;
		margin-right: 0.5em;
		margin-left: 1em;
	}

	.panel p.end-list {
		text-align: center;
	}


	dl {
		border-top: solid;
		border-width: 3px;
		margin-top: 0.3em;
	}

	dt {
		margin-left: 1em;
		margin-top: 1.5em;
	}

	dd {
		margin-top: 0.5em;
		margin-left: 3.5em;
	}

	.panel p {
		margin-bottom: 0.5em;
		text-align: justify;
		font-size: 0.9em;
	}

	div.thumb {
		height: 9em;
		width: 9em;
		margin: auto;
		margin-bottom: 1em;
	}

	#ebicego {
		background-size: 9em;
	}

	#dcastello {
		background-size: 9em;
	}

	#atombola {
		background-size: 9em;
	}

	#footer {
		padding: 1em;
	}

	#footer p{
		display: inline;
	}

	#footer #admin {
		display: block;
		margin-top: 0.5em;
	}

	#private-navmenu ul {
		margin-left: 77%;
	}

	p.info {
		font-size: 100%;
		text-align: left;
		padding: 0em 1.2em 0em 1.2em;
	}

	ul.errorList li {
	    list-style-type: disc;
	    margin-left: 1.5em;
	    color: red;
	}

	.error {
	    font-size: 0.8em;
	    color: red;
	}

	div.list-title {
		text-align: left;
		background: #FFF6F6;
	}

	dl {
		border-top: solid;
		border-width: 3px;	
	}

	dt {
		margin-left: 0.5em;
		margin-top: 1em;
	}

	dd {
		text-align: left;
		margin-top: 0.3em;
		margin-left: 3em;
	}
}
